<div class = "container pt-5">
  <p class ="h2 text-center">投稿画面</p>
  <div class="row">
    <div class="col-md-6 mx-auto">
	<%= form_with model: @note do |f| %>

		<% if @note.errors.any? %>
			<%= @note.errors.count %>件のエラーが発生しました
			<% @note.errors.full_messages.each do |message| %>
				<%= message %>
			<% end %>
		<% end %>

	<div class ="form-group">
		<%= f.label :url %>
		<%= f.text_area :url, :class => "form-control", placeholder:"保存したいURLを貼り付けてください" %>
	</div>

    <div class ="form-group">
		<%= f.label :title, :class => "label" %>
		<%= f.text_field :title, :class => "form-control", placeholder:"ノートのタイトルを記入" %>
	</div>

    <div class ="form-group">
		<%= f.label :tag_list %>
			<%= f.text_field :tag_list, value: @note.tag_list.join(','), :class => "form-control", placeholder:"ノートのタグを記入"%>
	</div>

    <div class ="form-group">
		<%= f.label :introduction %>
		<%= f.text_area :introduction, :class =>"form-control", :size=>"60x2", placeholder:"ノートの概要を記入" %>
	</div>

    <div class ="form-group">
		<%= f.label :body %>
		<%= f.text_area :body, :class =>"form-control", :size=>"60x10", placeholder:"ノートの本文を記入" %>
	</div>

		<%= f.submit "保存する", :class => "btn btn-primary d-block text-center mx-auto"%>
    <% end %>
   </div>
  </div>
</div>