<div class="container mt-5">
	<h4 class="display-4 text-center pt-5 pb-3">MYpage</h4>
	<div class ="row">
		<%= attachment_image_tag @user, :profile_image, size: '150x150', fallback: "no_image.jpg", :class => "d-block mx-auto border rounded-circle mb-2" %>
	</div>

	<div class="text-center">
		<div class="row justify-content-center">
			<h3><%= @user.name %></h3>
			<% if @user.id == current_user.id %>
			<%= link_to edit_user_path(current_user.id) do%>
			<i class="fas fa-pencil-alt fa-la" aria-hidden="true" style="padding:50%; color:grey;"></i>
			<% end %>
			<% end %>
		</div>
		<p class="text-center p-4"><%= @user.introduction %></p>
	</div>

	<div class="row justify-content-center my-5">
		<div class="col-md-10">
			<p class="display-4 text-center py-5">My Notes</p>
			<div class="card-columns">
				<% @notes.each do |note| %>
				<%= link_to note_path(note.id) do %>
				<div class="card shadow mb-5 text-center">
					<img src="https://i.ytimg.com/vi/<%= note.url%>/hqdefault.jpg", class="card-img-top">
					<div class="card-body">
						<h4 class="card-title"><%= note.title%></h4>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><p class="text-truncate"><%= note.introduction %></p></li>

							<li class="list-group-item">
								<%= attachment_image_tag note.user, :profile_image, size: '50x50', fallback: "no_image.jpg", :class => "border rounded-circle" %>
								<%= note.user.name %>
							</li>


							<li class="list-group-item"><small><%= note.updated_at.strftime("%Y年%m月%d日 %H時%M分") %></small></li>
							<% if user_signed_in? %>
							<% if note.user.id == current_user.id %>
							<li class="list-group-item">
								<%= link_to "編集する", edit_note_path(note.id), :class=>"btn btn-sm  btn-success" %>
								<%= link_to "削除する", note_path(note.id),method: :delete, :class=>"btn btn-sm btn-danger",data: { confirm: '削除しますか？' } %>
							</li>
							<% end %>
							<% end %>
						</ul>
				    </div>
				</div>
				<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>