<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center my-4">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">ユーザー名</span>
        </div>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", :class => "form-control" %>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">パスワード</span>
        </div>
        <%= f.password_field :password, autocomplete: "current-password", :class => "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="form-check">
        <%= f.check_box :remember_me, :class => "form-check-input" %>
        <%= f.label :remember_me, :class => "form-check-label"%>
      </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", :class =>"btn btn-block btn-primary d-block my-3" %>
      </div>
      <% end %>
      <%= link_to "新規登録はこちら", new_user_registration_path, :class =>"btn btn-success d-block mx-auto" %>

      <!--<%= render "devise/shared/links" %> -->
    </div>
  </div>
</div>