<nav class="navbar navbar-expand-md navbar-light mb-5 p-3" style="background-color:#b0d7f4;">
    <div class="container">
      <h3 class="nav-brand"><i class="fas fa-bookmark"></i>&ensp;Pofia</h3>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to root_path do %>
          <i class="fa fa-home fa-2x nav-link"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to mypage_path(current_user) do%>
          <i class="fas fa-portrait fa-2x nav-link"></i>
          <%end%>
        </li>
        <li class="nav-item">
          <%= link_to new_note_path do %>
          <i class="fas fa-sticky-note fa-2x nav-link"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to notebooks_path do %>
          <i class="fas fa-book-open fa-2x nav-link"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete do%>
          <i class="fas fa-sign-out-alt fa-2x nav-link"></i>
          <% end %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to root_path do %>
          <i class="fa fa-home fa-2x nav-link"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <i class="fas fa-link fa-2x nav-link"></i>
        </li>
        <li class="nav-item">
          <%= link_to new_user_registration_path do %>
          <i class="fas fa-user-plus fa-2x nav-link"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to user_session_path do %>
          <i class="fas fa-sign-in-alt fa-2x nav-link"></i>
          <%end%>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>