<nav class="navbar navbar-expand-md navbar-light bg-warning mb-5 border-bottom">
  <div class="container">
    <h3 class="nav-brand"><strong>Pofia</strong></h3>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
      <li class="nav-link">
        <%= link_to "Top Page",root_path, :class=>"nav-link" %>
      </li>
      <li class="nav-link">
        <%= link_to "My Page",user_path(current_user), :class=>"nav-link"%>
      </li>
      <li class="nav-link">
        <%= link_to "New Post",youtube_notes_path, :class=>"nav-link" %>
      </li>
      <li class="nav-link">
        <%= link_to "Notebooks",notebooks_path, :class=>"nav-link" %>
      </li>
      <li class="nav-link">
        <%= link_to "Logout",destroy_user_session_path, method: :delete, :class=>"nav-link"%>
      </li>
      <% else %>
      <li class="nav-link">
        <%= link_to "Top Page", root_path, :class=>"nav-link" %>
      </li>
      <li class="nav-link">
        <%= link_to "Sign up", new_user_registration_path, :class=>"nav-link" %>
      </li>
      <li class="nav-link">
        <%= link_to "Log in", user_session_path, :class=>"nav-link" %>
      </li>
      <% end %>
      <div class="form-inline">
        <%= search_form_for @search, url: search_notes_path do |f| %>
        <%= f.search_field :title_or_body_cont, placeholder: "検索するノートを入力...", :class => "form-control", :required => true%>
        <%= f.submit "検索", :class => "btn btn-outline-primary" %>
        <% end %>
      </div>
    </ul>
  </div>
</nav>